.navegador{
    background-color: cornflowerblue;
    display: flex;
}
.navegador .link-navegador{
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
}
.navegador .link-navegador:hover{
    background-color: cyan;
}

.navegador .link-navegador.active{
    background-color: rgb(9, 65, 65);
}